a
	{
		color:#3399FF
	}

h1
	{
		text-align: center;
		font-size: 200%;
		margin: 0px 0px 10px;
		font-style: italic;
	}


p	{
		text-align:justify;
		
	}

p:first-letter
	{
		margin-left: 25px;
	}
.tabla_1
	{
		width: 70%;
		background-color: #808080;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 10px 0px 10px #FFFFFF;
		text-align: center;
	}
.keret
	{
		width: 200px;
		margin: 10px auto;
		text-align: center;
		padding: 10px;
		font-style: italic;
		font-size: 75%;
		float: right;
	}


#kep
	{
  		width: 200px;
  	}

#feher
	{
		float: left;
		width: 400px;
		background-color: white;
		color: black;
		box-shadow: 10px 0px 10px #FFFFFF;
	}

li
	{
				padding: 3px;
				margin: 3px;
				font-style: italic;
				list-style-image: url("list.png");
}

body{
	background-color: #666666;
	color: white;
}
h1, h2{
	color: #CC99FF;
	text-transform: capitalize;
}
#f_vonal {
	width: 800px;
	size: 3px;
	color: white;
}