@charset "utf-8";
/*/td,ul, ol,p {
font-weight: normal;
}
/*/
body{
background-color: blue;
}
.ss{
background-color: lightblue;
width: 600px;
margin-left: auto;
margin-right: auto;
padding: 10px;
}
table{
border-collapse: collapse;	
margin: auto;
}
td, th {
border: 1px solid black;
background-color: white;
text-align: center;
}
#jb{
text-align: right;
}
#sork{
text-align: justify;
}