body {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

ul.photos {
	width: 660px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
	
	ul.photos li {
		float: left;
		width: 180px;
		height: 120px;
		position: relative;
		margin: 20px;
		
	}
		ul.photos li a span {
			display: block;
			width: 200px;
			height: 140px;
			position: absolute;
			top: -10px;
			left: -10px;
			background: url(../images/wincard.png);
		}
		
		ul.photos li a img {
			border: 0;
		}
		

